{% extends "messages/base.html" %}

{% block title %} Leave your message here{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Messages</h1>
        <table>
            {% for message in messages %}
                <tr>
                    <td>
                        ({{ message.email }})
                        leave a message at {{ message.time }}
                        from {{ message.ip }}:
                    </td>
                </tr>
                <tr>
                    <td>{{ message.content }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Leave your message</h2>
    <form action="." method="POST">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}